<li>
  <%= image_tag article_photographs.photo_path.url %>
  <div class="orbit-caption">
    <strong><%= article_photographs.section.name %></strong><br>
    <%= article_photographs.photo_content %>
  </div>
</li>
