<!-- Start: First Accordion -->
<section class="section ">
  <p class="title"><a href="#"><%= article_contents.section.description %></a></p>

  <div class="content">
    <p> <%= article_contents.description %></p>
  </div>
</section>
<!-- End:First Accordion -->
