<section>
  <p class="title" data-section-title><a href="#"><%= article_content.section.description %></a>
  </p>
  <div class="content" data-section-content>
    <p> <%= article_content.description %></p>
  </div>
</section>
