<% content_for :title do %>Todos los usuarios
<% end %>
<% content_for :description do %>Mantenimiento de usuarios
<% end %>
<%= render 'layouts/title', icono: "icon-bug", titulo: "Los usuaurios" %>


<!-- Start:  Login Form-->
<section class="row" id="signup">
  <div class="small-12 large-8  column">
    <%= will_paginate @users, renderer: FoundationPagination::Rails %>
    <h3 class="aligncenter title">Usuaurio</h3>
    <ul class="users">
      <% @users.each do |user| %>
          <%= render user %>
      <% end %>
    </ul>
    <%= will_paginate @users, renderer: FoundationPagination::Rails %>
  </div>
</section>


