<% content_for :title do %>Todos los usuarios
<% end %>
<% content_for :description do %>Mantenimiento de usuarios
<% end %>
<%= render 'layouts/title', icono: "icon-bug", titulo: "Los usuaurios" %>

<%= will_paginate %>

<!-- Start:  Login Form-->
<section class="row" id="signup">
  <div class="small-12 large-6  column">
    <h3 class="aligncenter title">Usuaurio</h3>
    <ul class="users">
      <% @users.each do |user| %>
          <%= render @users %>
      <% end %>
    </ul>
  </div>
</section>

<%= will_paginate %>

