<%= render 'layouts/title', icono:"icon-question-sign", titulo:"Acerca de nosotros" %>

<% content_for :title do %>About<% end %>
<div class="row">
<h3>Acerca de Reconecta tu vida</h3>
<p>
  Somos un grupo de personas que queremos colaborar para dar a conocer herramientas y productos
  caseros que nos ayuden a llevar una vida mas sana
  </p>
<p>His favorite quotation is:</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
  incididunt ut labore et dolore magna aliqua.</p>

</div>