<% content_for :title do %>Reconecta tu vida<% end %>
<div class="row">
  <p>Aquitoy</p>
</div>
<%= render 'layouts/main_banner' %>
<%= render 'layouts/main_features' %>
<div  class="sub-headline aligncenter">
  <div class="row">
    <div class="small-12">
      <h3>
        Lorem ipsum dolor sit has ei ipsum  amet, has ei ipsum scaevola am sea facilisis.
      </h3>
      <h5> Has ei ipsum scaevola deseruisse am sea facilisis.</h5>
      <br />
      <a href="quote.html" class="button  alert">Request Quote</a>
    </div>
  </div>
</div>

<%= render 'layouts/main_recent' %>
