<div clas="row" id="footer">
  <div class="row widgets-block">
    <div class="small-12 large-3 column widget">
      <h4>Vida Sana</h4>

      <div class="flickr-widget">
        <script type="text/javascript" src="http://www.flickr.com/badge_code_v2.gne?count=8&amp;display=latest&amp;size=s&amp;layout=x&amp;source=user&amp;user=15817260@N02"></script>
        <!-- "15817260@N02"  replace this with your flickr ID-->
        <div class="clear"></div>
      </div>
    </div>
    <div class="small-12 large-3 column widget">
      <h4>Navega</h4>
      <ul class="link-list">
        <li class="active"><%= link_to 'Home', root_path %></li>
        <li><%= link_to 'Nuestra mision', page_path('about') %></li>
        <li><%= link_to 'Contacto', new_contact_path %></li>

        <li><a href="#">Quienes somos</a></li>
        <li><a href="#">Nuestros servicios</a></li>
        <li><a href="#">Nuestro equipo</a></li>
        <li><a href="#">Busca productos</a></li>
        <li><a href="#">Mantente en contacto</a></li>
      </ul>
    </div>

    <div class="small-12 large-3 column widget">
      <h4>Mantente en contacto</h4>

      <p>
        <strong>La isla del encanto,Puerto Rico </strong><br/>
        PO Box 6630 <br/>
        Bayamon, PR 00960. <br/>
      </p>

      <p>
        <i class="icon-phone"></i> (123) 456-7890 <br>
        <i class="icon-envelope-alt"></i> enrique.tron@gmail.com
      </p>
    </div>

    <div class="small-12 large-3 column widget">
      <h4 class="title"> Suscribete</h4>

      <p>
        Por favor suscribase para recibir
        noticias y promociones de los
        articulos y productos que encontraras
        para mantener tu vida sana
      </p>

      <form class="form-inline">
        <input type="text" class="input-medium" placeholder="Your email">
        &nbsp;
        <button type="submit" class="small button secondary">Suscribete</button>
      </form>
    </div>
  </div>

  <div id="social-links" class="aligncenter">
    <a href="" class="up-arrow"><i class="icon-angle-up"></i></a>

    <div class="row">
      <a href="#"><i class="icon-facebook icon-circled icon-64"></i></a>
      <a href="#"><i class="icon-twitter icon-circled icon-64"></i></a>
      <a href="#"><i class="icon-google-plus icon-circled icon-64"></i></a>
      <a href="#"><i class="icon-linkedin icon-circled icon-64"></i></a>
      <a href="#"><i class="icon-pinterest icon-circled icon-64"></i></a>
      <a href="#"><i class="icon-tumblr-sign icon-circled icon-64"></i></a>
      <a href="#"><i class="icon-dribbble icon-circled icon-64"></i></a>
    </div>
    <div class="copyrights">
      &copy;2014 <a href="http://www.ad-says.com" target="_blank">Beetle Inc</a> All Rights Reserved.
    </div>
  </div>
</div>