<!-- Start:  features-box -->
<div class="row" id="features" >
  <%= render 'layouts/main_features_detail', icono:'icon-desktop',
      header: 'Aprende a sembrar',
      content: 'Lorem ipsum dolor sit has ei ipsum  amet, has ei ipsum scaevola deseruisse am sea facilisis.',
      reference: '#'  %>

  <%= render 'layouts/main_features_detail', icono:'icon-mobile-phone',
      header: 'Comparte tus experiencias',
      content: 'Lorem ipsum dolor sit has ei ipsum  amet, has ei ipsum scaevola deseruisse am sea facilisis.',
      reference: '#'  %>

  <%= render 'layouts/main_features_detail', icono:'icon-html5 ',
      header: 'HTML5 & CSS 3',
      content: 'Lorem ipsum dolor sit has ei ipsum  amet, has ei ipsum scaevola deseruisse am sea facilisis.',
      reference: '#'  %>

  <%= render 'layouts/main_features_detail', icono:'icon-briefcase  ',
      header: 'Corporate Business',
      content: 'Lorem ipsum dolor sit has ei ipsum  amet, has ei ipsum scaevola deseruisse am sea facilisis.',
      reference: '#'  %>

</div>
<!-- End:  features-box -->
