<%# navigation styled for Zurb Foundation 4 %>
<div class="row">
  <nav class="top-bar">
    <ul class="title-area">
      <li class="name">
        <h1>
          <a href="index.html" class="logo"><i class="icon-unlink"></i><span><%= t :web_title1 %></span><%= t :web_title2 %>
          </a></h1>
      </li>
      <li class="toggle-topbar"><a href="#"><i class="icon-reorder"></i></a></li>
    </ul>
    <section class="top-bar-section">
      <%= render 'layouts/navigation_links' %>
    </section>
  </nav>
</div>
