<div class="page-title">
  <div class="row">
    <div class="small-12 large-8 column">
      <h1  class="animated flipInX"><i class=<%= icono %>></i>
        <%= titulo %>
      </h1>
    </div>
    <div class="small-12 large-4 column">
      <ul class="breadcrumbs right">
        <li><a href="index.html">Home</a></li>
        <li class="current"><a href="#">About Us2</a></li>
      </ul>
    </div>
  </div>
</div>